RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.jtaccountancy\.co\.uk$ [NC]
RewriteRule ^(.*)$ https://jtaccountancy.co.uk/$1 [R=301,L]

Redirect 301 /ourservices /services/
Redirect 301 /aboutus /about/
Redirect 301 /contactus /contact/
Redirect 301 /our-services /services/
Redirect 301 /contact-us /contact/
